.m1:hover .m3{
    
    margin: 2px;
    padding: 5px;
    display: block;
}
.m3 a{
    display: block;
    text-decoration: none;
    padding: 10px 8px;
}
.m2{
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px 20px;
}
.m3{
    border: none;
    display: none;
    background-color: antiquewhite;
    position: absolute;
    padding: 10px 20px;
}
section ,.main{
    display: flex;
    margin: 5px;
    padding: 5px;
    flex: 1;
}    
.main:nth-child(1){
    border: 2px solid greenyellow;
    flex: 2;
}
section{
    background-color: royalblue;
}